

@model PeopleViewModel

@{
    ViewData["Title"] = PeopleViewModel.Title;
}

<h1>@PeopleViewModel.Header</h1>


<div align="right">
<partial name="~/Views/Shared/_AddPersonPartialView.cshtml" model="new CreatePersonViewModel()" />
</div>
<br />


<div align="right">
<form asp-controller="People" asp-action="Search" method="post">
    <label>Search for a Name or City&nbsp;</label>
    <br />
    <input type="text" name="Search" />
    <br />
    <input type="submit" value="Search" />
</form>
</div>


@if (ViewBag.SearchMessage == null)
{
    <p>Full List</p>

    <div class="row">
        <div class="col-sm">
            <b>Name</b>
        </div>
        <div class="col-sm">
            <b>PhoneNumber</b>
        </div>
        <div class="col-sm">
            <b>City</b>
        </div>
        <div class="col-sm">
            <b>&nbsp;</b>
        </div>
        <hr>
    </div>
    @foreach (var item in Model.PeopleList)
    {
        <partial name="~/Views/Shared/_IndividualPersonPartialView.cshtml" model="item" />
        <hr>
    }
}
else
{
    <p>@ViewBag.SearchMessage</p>

    <div class="row">
        <div class="col-sm">
            <b>Name</b>
        </div>
        <div class="col-sm">
            <b>PhoneNumber</b>
        </div>
        <div class="col-sm">
            <b>City</b>
        </div>
        <div class="col-sm">
            <b>&nbsp;</b>
        </div>
        <hr>
    </div>
    @foreach (var item in Model.QueryList)
    {
        <div class="row">
            <div class="col-sm">
                @item.Name
            </div>
            <div class="col-sm">
                @item.PhoneNumber
            </div>
            <div class="col-sm">
                @item.City
            </div>
            <div class="col-sm">
                <a asp-action="DeletePerson" asp-route-id="@item.Id">Delete</a>
            </div>
        </div>
        <hr>
    }
}